<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
  

  <div class="page-centered-elemnet">
    <div class="content"> 
      <h4>guard alarm se activara 100 min despues de no tener actividad una vez activada la app</h4>
      <div class="buttons-container">
        <ion-button fill="clear" color="ligth" size="large">
          <ion-toggle [(ngModel)]="status" color="secondary" class="width-large" (ionChange)="onChange()"></ion-toggle>
        </ion-button>
      </div>
    </div>
  </div>

</ion-content>
<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/cuenta">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
