<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="custom-Text">Modificar Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="usuario" (ngSubmit)="guardarDatos()">
    <ion-item>
      <ion-label>Nombre : </ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="usuario.controls.nombre.errors?.required && (usuario.touched || usuario.dirty)">* El nombre es obligatorio </ion-label>
    <ion-label color="danger" *ngIf="usuario.controls.nombre.errors?.minlength && (usuario.touched || usuario.dirty)">* El nombre tiene que tener al menos 4 caracteres.</ion-label>
    <ion-item>
      <ion-label>Email de contacto : </ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="usuario.controls.email.errors?.required && (usuario.touched || usuario.dirty)">* El email es obligatorio </ion-label>
    <ion-label color="danger" *ngIf="usuario.controls.email.errors?.email && (usuario.touched || usuario.dirty)">* El email no es válido.</ion-label>
    <ion-item>
      <ion-label>Tiempo de activacion(min) :</ion-label>
      <ion-input type='number' formControlName="tiempoActivacion"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="usuario.controls.tiempoActivacion.errors?.required && (usuario.touched || usuario.dirty)">* El tiempo de activación es obligatorio </ion-label>
    <ion-label color="danger" *ngIf="usuario.controls.tiempoActivacion.errors?.minlength && (usuario.touched || usuario.dirty)"></ion-label>
    <ion-item>
      <ion-label>Hora de ir a dormir : </ion-label>
      <ion-datetime formControlName="horaInicio" displayFormat="HH:mm"></ion-datetime>
    </ion-item>
    <ion-label color="danger" *ngIf="usuario.controls.horaInicio.errors?.required && (usuario.touched || usuario.dirty)">* La hora de inicio es obligatoria </ion-label>
    <ion-item>
      <ion-label>Hora de despertar : </ion-label>
      <ion-datetime formControlName="horaFin" displayFormat="HH:mm"></ion-datetime>
    </ion-item>
    <ion-label color="danger" *ngIf="usuario.controls.horaFin.errors?.required && (usuario.touched || usuario.dirty)">* La hora de finalización es obligatoria </ion-label>
    
    <p class="ion-text-center">
      
      <ion-button expand="block" type="submit" [disabled]="!usuario.valid" routerLink="/home">Modificar</ion-button>
    </p>
    


  </form>
  <ion-button expand="block" class="ion-text-center" type="submit" routerLink="/home">Cancelar</ion-button>
  
</ion-content>
