

<ion-header [translucent]="true" >
  <ion-toolbar color="secondary">
    <ion-title class="custom-Text">
      Activity Guard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" force-overscroll="false">
  <gl-background-video src="assets/video/fondo.mp4" mute="false"></gl-background-video>
      <!-- <ion-item> 
          <ion-label>Acceleration X</ion-label>
          <ion-input type="text" [(ngModel)]="accX"></ion-input>
        </ion-item>
        <ion-item> 
            <ion-label>Acceleration Y</ion-label>
            <ion-input type="text" [(ngModel)]="accY"></ion-input>
          </ion-item>
          <ion-item> 
              <ion-label>Acceleration Z</ion-label>
              <ion-input type="text" [(ngModel)]="accZ"></ion-input>
          </ion-item> -->

          <!-- <ion-item> 
            <ion-label>Count</ion-label>
            <ion-input type="text" [(ngModel)]="count"></ion-input>
        </ion-item>
        <ion-item> 
          <ion-label>Reset</ion-label>
          <ion-input type="text" [(ngModel)]="reset"></ion-input>
        </ion-item> 
        <ion-item> 
          <ion-label>numero de contadores </ion-label>
          <ion-input type="text" [(ngModel)]="tiempoActivacionCount"></ion-input>
        </ion-item>
        <ion-item> 
          <ion-label>tiempoActivacion </ion-label>
          <ion-input type="text" [(ngModel)]="tiempoActivacion"></ion-input>
        </ion-item> 
        <ion-item> 
          <ion-label>tiempocorreo </ion-label>
          <ion-input type="text" [(ngModel)]="tiempoCorreo"></ion-input>
        </ion-item>  -->
        
        <!-- <ion-button expad="block" (click)="Accelerometer()">{{text}} app</ion-button>
        <ion-button expad="block" (click)="stopAccelerometer()">Parar app</ion-button>
        
        <div *ngIf = "changebuttom == true"></div>
        


        <ion-button expad="block" (click)="playAudio()">sonido</ion-button>
        <ion-button expad="block" (click)="stopAudio()">sonido OFF</ion-button>

        <ion-button expad="block" (click)="stopAccelerometer()" routerLink="/cuenta">cuenta</ion-button>

        <ion-button expad="block" (click)="sendMailJS()">mandar correo</ion-button> -->

        <div class="page-centered-elemnet">
          <div class="content"> 
            
            <ion-item> 
              <ion-label>Count</ion-label>
              <ion-input type="text" [(ngModel)]="count"></ion-input>
            </ion-item>
            <ion-item> 
              <ion-label>Reset</ion-label>
              <ion-input type="text" [(ngModel)]="reset"></ion-input>
            </ion-item> 
            <ion-item> 
              <ion-label>numero de contadores </ion-label>
              <ion-input type="text" [(ngModel)]="tiempoActivacionCount"></ion-input>
            </ion-item>
            <ion-item> 
              <ion-label>tiempoActivacion </ion-label>
              <ion-input type="text" [(ngModel)]="tiempoActivacion"></ion-input>
            </ion-item> 
            <ion-item> 
              <ion-label>tiempocorreo </ion-label>
              <ion-input type="text" [(ngModel)]="tiempoCorreo"></ion-input>
            </ion-item> 
            <h4 style="color:aliceblue">Activity Guard se activará {{tiempoActivacion}} min despues de no usar el móvil una vez activada </h4>
            <div class="buttons-container">
              <ion-button fill="clear" color="ligth" size="large">
                <ion-toggle  [(ngModel)]="status" checked="status" color="secondary" class="width-large" (ionChange)="onChange()" ></ion-toggle>
              </ion-button>
 
              <ion-button expad="block" (click)="Accelerometer()">{{text}} app</ion-button>
              <ion-button expad="block" (click)="stopAccelerometer()">Parar app</ion-button>

              <ion-button expad="block" (click)="playAudio()">sonido</ion-button>
              <ion-button expad="block" (click)="stopAudio()">sonido OFF</ion-button>

              <ion-button expad="block" (click)="stopAccelerometer()" routerLink="/cuenta">cuenta</ion-button>

              <ion-button expad="block" (click)="sendMailJS()">mandar correo</ion-button>
              <ion-button expad="block" (click)="cambiartoggle()">cambiar ion-toggle</ion-button>
            </div>
          </div>
        </div>
      
</ion-content>
 
<ion-footer class="ion-no-border" >
    <ion-toolbar >
      <ion-tabs >
        <ion-tab-bar slot="bottom" color="secondary">
          <ion-tab-button routerLink="/home" class="custom-icon">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-tab-button>
          <ion-tab-button  (click)="stopAccelerometer()" routerLink="/cuenta" class="custom-icon">
            <ion-icon name="person-circle-outline" ></ion-icon>
            <ion-label>Cuenta</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
</ion-footer>
