<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GUARD ALARM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-item> 
    <ion-label>X orientation</ion-label>
  <ion-input type="text" [(ngModel)]="xOrient"></ion-input>
</ion-item>
<ion-item> 
    <ion-label>Y orientation</ion-label>
    <ion-input type="text" [(ngModel)]="yOrient"></ion-input>
  </ion-item>
  <ion-item> 
      <ion-label>Z orientation</ion-label>
      <ion-input type="text" [(ngModel)]="zOrient"></ion-input>
    </ion-item>
    <ion-item> 
        <ion-label>Time Stamp</ion-label>
        <ion-input type="text" [(ngModel)]="timestamp"></ion-input>
      </ion-item>

      <button ion-button (click)="gyrascope()" full>click</button> -->

      <ion-item> 
          <ion-label>Acceleration X</ion-label>
          <ion-input type="text" [(ngModel)]="accX"></ion-input>
        </ion-item>
        <ion-item> 
            <ion-label>Acceleration Y</ion-label>
            <ion-input type="text" [(ngModel)]="accY"></ion-input>
          </ion-item>
          <ion-item> 
              <ion-label>Acceleration Z</ion-label>
              <ion-input type="text" [(ngModel)]="accZ"></ion-input>
          </ion-item>

          <ion-item> 
            <ion-label>Count</ion-label>
            <ion-input type="text" [(ngModel)]="count"></ion-input>
        </ion-item>
        <ion-item> 
          <ion-label>Reset</ion-label>
          <ion-input type="text" [(ngModel)]="reset"></ion-input>
        </ion-item> 
        <ion-item> 
          <ion-label>numero de contadores </ion-label>
          <ion-input type="text" [(ngModel)]="tiempoActivacionCount"></ion-input>
        </ion-item> 
        <!-- <button ion-button (click)="Accelerometer()" full>click</button> -->
        <ion-button expad="block" (click)="Accelerometer()">{{text}} app</ion-button>
        <ion-button expad="block" (click)="stopAccelerometer()">Parar app</ion-button>
        <!-- <ion-button expad="block" (click)="Accelerometer()" (click)="change_Buttom()">{{text}} app</ion-button> -->
        <div *ngIf = "changebuttom == true"></div>
        <!-- <button ion-button full  (click)="sendEmail()" full>Enviar</button> -->
        

        
  </ion-content>
