#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  --ion-background-color:#darksalmon;


}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

#app2{
  background: rgb(211, 211, 211);
  color:rgb(211, 211, 211) ;
}

.app{ //class="app"
  position: absolute;
  background-color: #262B32 !important;
  color: darksalmon;


}

.app3{
  color:darkgrey;
  background:rgba(228, 107, 8, 0.993);
}

.custom-icon {
  
  color : black;
}

.custom-Text {
  
  color : black;
  text-align: left;
}

.page-centered-elemnet{
  position:absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-header{
  text-align: center;
  font-size: 55px;
  color: black;
}

.iconSize{
  font-size: 60px;
}

.content{
  text-align: center;
  color: black;
}

.buttons-container{
  margin-top: 30px;
}



ion-toggle[aria-checked="false"]{
  position: relative;
  width: 70px;
  
 &::before {
   position: absolute;
   content: "Apagado";
   font-size: 10px;
   line-height: 31px;
   top: 0;
   left: 40px;
   color: white;
 }
 &::after {
   position: absolute;
   content: "";
 }
}
ion-toggle[aria-checked="true"]{
 position: relative;
 width: 70px;
 &::before {
   position: absolute;
   content: "";
 }
&::after {
  position: absolute;
  content: "Encendido";
  font-size: 10px;
  line-height: 31px;
  top: 0;
  left: 3px;
  color: white;
}
}
  
.width-large {
  width: 100px;
  zoom: 3;
}